body {
    background-color: hsl(30, 54%, 90%);
    font-size: 16px;
    font-family: "outfit", sans-serif;
    color: #5F564D;
}

.card {
    width: 736px;
    height: 1708px;
    margin: 123px auto;
    background-color: white;
    border-radius: 24px;
}

#mainimg {
    width: 656px;
    height: 300px;
    border-radius: 12px;
    margin: 40px;
}

.content {
    margin: 0 40px 40px;
}

h1 {
    font-size: 40px;
    color: #312E2C;
}

h2 {
    font-size: 28px;
    color: #854632;
    font-weight: 400;
}

h3 {
    color: #7A284E;
    font-size: 20px;
    margin: 0;
}

.text {
    line-height: 150%;
}

.title {
    font-family: "Young Serif", serif;
    margin: 0;
}

hr,
tr {
    border-bottom: 1px solid #E3DDD7;
    border-top: none;
}

tr:last-of-type {
    border: none;
}

li {
    margin: 8px 0;
    padding-left: 20px;
}

li::marker {
    color: #7A284E;
    font-weight: bold;
}

.summary {
    margin: 24px 0 0;
}

.prep {
    background-color: hsl(330, 100%, 98%);
    height: 187px;
    border-radius: 12px;
    margin: 32px 0;
}

.prep ul {
    margin-top: 16px;
    padding-left: 20px;
}

.prep-text {
    padding: 28px;
}

.ingredients ul,
.instructions ol {
    padding-left: 25px;
}

.bold {
    font-weight: 600;
}

.cont {
    margin: 30px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    width: 50%;
    font-weight: 400;
    text-align: left;
    padding: 7px 35px;
}

td {
    width: 50%;
    color: #854632;
    padding-left: 30px;
}